In [105]:
import pandas as pd
from nltk.corpus import words
import string

In [106]:
def soundex(input):
    
    output = []
    input = input.lower()
    
    temp = [c for c in input if c not in ["a", "e", "i", "o", "u"]]
    
    temp = temp[1:len(temp)]
    for i in temp:
        
        if(i in ["b", "f", "p", "v"]):
            output.append("1")
            
        elif(i in ["c", "g", "j", "k", "q", "s", "x", "z"]):
            output.append("2")
            
        elif(i in ["d", "t"]):
            output.append("3")
        
        elif(i in ["l"]):
            output.append("4")
            
        elif(i in ["m", "n"]):
            output.append("5")
            
        elif(i in ["r"]):
            output.append("6")
            
        elif(i in ["h", "w", "y"]):
            #asch is french phoneme for h
            if(True):
                output.append(i.upper()) 
        else:
            output.append("")
    return output

In [107]:
def soundexCleaner(input, mainInput):
    output = []
    output_ = []
    
    output.append(mainInput[0].upper())
    
    i = 1
    
    while(i < len(input)):
        
        if(i != len(input)):
    
            try:
                if(input[i] != input[i + 1]):
                
                    output.append(input[i])
                    #Sets are unordered, Fuck
                    
            except:
                output.append(input[len(input) - 1])
        
        i += 1
                
            

                #Sets are unordered, Fuck
                
    if(len(output) < 8):
        for i in range(8 - len(output)):
            output.append("0")
            
    

        
    return ("".join(output[0 : 8]))

In [108]:
def phonemeGen(input):
    
    input = input.lower()
    
    return soundexCleaner(soundex(input), input)

In [109]:
phonemeGen("hello")

'H4000000'

In [110]:
dictEn = pd.DataFrame(data = words.words(), columns = ["words"])

In [111]:
dictEn["phonetic"] = dictEn["words"].apply(phonemeGen)

In [112]:
#Now the big boy coding

In [113]:
def phonemeSyn(a, b):
    
    a = [c for c in a]
    b = [c for c in b]
    
    count = 0
    
    for i in range(4):
        if(a[i] == b[i]):
            count += 1
            
        
    
    return count

In [114]:
dictEn.sort_values(by = "phonetic", inplace = True)

In [115]:
dictEn.reset_index(drop = True, inplace = True)

In [116]:
dictIndex = dictEn.copy(deep = True)
dictIndex = dictIndex.set_index("words")

In [117]:
dictIndex

             phonetic
words
A            A0000000
Akawai       A0000000
ake          A0000000
akeake       A0000000
akebi        A0000000
...               ...
zoocytium    ZY350000
zooerythrin  ZY3H6500
zoodynamic   ZY520000
zinyamunga   ZY520000
zoodynamics  ZY520000

[236736 rows x 1 columns]

In [118]:
indexRange = range(len(dictEn))

In [119]:
dictIndex["index"] = indexRange

In [120]:
dictIndex

             phonetic   index
words
A            A0000000       0
Akawai       A0000000       1
ake          A0000000       2
akeake       A0000000       3
akebi        A0000000       4
...               ...     ...
zoocytium    ZY350000  236731
zooerythrin  ZY3H6500  236732
zoodynamic   ZY520000  236733
zinyamunga   ZY520000  236734
zoodynamics  ZY520000  236735

[236736 rows x 2 columns]

In [121]:
def synGen(input):
    
    output = []
    input = input.lower()
    
    if(input in words.words()):
        
        index = dictIndex.loc[input, "index"]

        try:
            for i in range(index - 2, index + 3):
                output.append(dictEn["words"][i])
            
        except:
            try:
                for i in range(index, index + 5):
                    output.append(dictEn["words"][i])
                    
            except:
                try:
                    for i in range(index[0] - 2, index[0] + 3):
                        output.append(dictEn["words"][i])
                except:
                    for i in range(index[0] - 1, index[0] + 1):
                        output.append(dictEn["words"][i])
        return output
    else:
        return "Not find in dictionary, Please Check Spelling and Try again"

In [122]:
synGen("bread")

['biliate', 'Brodie', 'bread', 'blood', 'bred']

In [123]:
dictEn

              words  phonetic
0                 A  A0000000
1            Akawai  A0000000
2               ake  A0000000
3            akeake  A0000000
4             akebi  A0000000
...             ...       ...
236731    zoocytium  ZY350000
236732  zooerythrin  ZY3H6500
236733   zoodynamic  ZY520000
236734   zinyamunga  ZY520000
236735  zoodynamics  ZY520000

[236736 rows x 2 columns]

In [124]:
synGen("apple")

['asyla', 'aswell', 'apple', 'awheel', 'aquarelle']

In [125]:
from textblob import TextBlob
from textblob import Word

In [126]:
blob = TextBlob("I am fin")
blob.correct()

TextBlob("I am in")

In [127]:
w = Word("Russ")

In [128]:
w.spellcheck()

[('Fuss', 0.9166666666666666), ('Muss', 0.08333333333333333)]

In [129]:
def soundexV2(input):
    
    output = []
    input = input.lower()
    
    temp = [c for c in input if c not in ["a", "e", "i", "o", "u"]]
    
    temp = temp[1:len(temp)]
    for i in temp:
        
        if(i in ["b", "f", "p", "v"]):
            output.append("1")
            
        elif(i in ["c", "g", "j", "k", "q", "s", "x", "z"]):
            output.append("2")
            
        elif(i in ["d", "t"]):
            output.append("3")
        
        elif(i in ["l"]):
            output.append("4")
            
        elif(i in ["m", "n"]):
            output.append("5")
            
        elif(i in ["r"]):
            output.append("6")
            
        elif(i in ["h", "w", "y"]):
            #asch is french phoneme for h
            
            output.append("0") 
        else:
            output.append("0")
    return output

In [130]:
def phonemeGenV2(input):
    
    input = input.lower()
    
    return soundexCleaner(soundexV2(input), input)

dictEn["phonetic2"] = dictEn["words"].apply(phonemeGenV2)

In [131]:
dictEn2 = dictEn.copy(deep = True).sort_values(by = "phonetic2")

In [132]:
dictIndexV2 = dictEn2.set_index("words", drop = True)
dictIndexV2["index"] = range(236736)
dictIndexV2

            phonetic phonetic2   index
words
A           A0000000  A0000000       0
adenia      A0000000  A0000000       1
asoak       A0000000  A0000000       2
asok        A0000000  A0000000       3
abate       A0000000  A0000000       4
...              ...       ...     ...
zoeform     Z6500000  Z6500000  236731
Zyrian      Z6500000  Z6500000  236732
Zyrenian    Z6500000  Z6500000  236733
Zaparan     Z6500000  Z6500000  236734
zoocurrent  Z6530000  Z6530000  236735

[236736 rows x 3 columns]

In [133]:
def synGen2(input):
    
    output = []
    input = input.lower()
    
    if(input in words.words()):
        
        index = dictIndexV2.loc[input, "index"]

        try:
            for i in range(index - 2, index + 3):
                output.append(dictEn2["words"][i])
            
        except:
            try:
                for i in range(index, index + 5):
                    output.append(dictEn2["words"][i])
                    
            except:
                try:
                    for i in range(index[0] - 2, index[0] + 3):
                        output.append(dictEn2["words"][i])
                except:
                    for i in range(index[0] - 1, index[0] + 1):
                        output.append(dictEn2["words"][i])
        return output
    else:
        return "Not find in dictionary, Please Check Spelling and Try again"

In [138]:
def phoneticSynGenFinal(input):
    print(f"SynGen Type 1: {synGen(input)}\nSynGen Type 2: {synGen2(input)}")

In [139]:
dictEn

              words  phonetic phonetic2
0                 A  A0000000  A0000000
1            Akawai  A0000000  A0000000
2               ake  A0000000  A0000000
3            akeake  A0000000  A0000000
4             akebi  A0000000  A0000000
...             ...       ...       ...
236731    zoocytium  ZY350000  Z0350000
236732  zooerythrin  ZY3H6500  Z0306500
236733   zoodynamic  ZY520000  Z0520000
236734   zinyamunga  ZY520000  Z0520000
236735  zoodynamics  ZY520000  Z0520000

[236736 rows x 3 columns]

In [154]:
phoneticSynGenFinal("opaque")

SynGen Type 1: ['obese', 'Odin', 'opaque', 'Opata', 'ope']
SynGen Type 2: ['olease', 'oime', 'off', 'oilcup', 'outleap']